$back-color: #F8F8F8;
$title-color: #7E7E82;
$border-top-title: #D9FFF5;
$white: white;
$description-text: #1B1C21;
$pink: #FF3E79;
$border-item: #EAEAEA;
$black: black;
$placeholder: #B5B6BC;
$navigation:#41F6D7;
$active-nav:#B8FFEC;